:root{
  --backgroundColor: #FFFFFF;
  --color: #000000;
}

body{
  background-color: var(--backgroundColor);
  color: var(--color);
  min-height: 100dvh;
}

header h1{
  font-size: max(1rem, min(calc(8.0675rem * 3 / 5), 7vmin));
}

h6{
  color: var(--color);
}

a{
  color: var(--color);
  text-decoration: none;
}

@media (hover: hover)
{
  a:hover{
    text-decoration: underline;
  }

  a:active{
    text-decoration: underline;
  }
}

@media (hover: none) 
{
  a:hover{
    text-decoration: none;
  }

  a:active{
      text-decoration: underline;
  }
}

hr{
  background-color: var(--color);
}

footer{
  background-color: var(--color);
}